* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://d-annamtravel.com/static/media/quy%20nhon%20phu%20yen%202021/thc-bn-gic100321.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 150px 20px;
  position: relative;
  min-height: 60vh;
}

nav {
  background-color: pink;
  padding: 15px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
nav img {
  width: 50px;
  border-radius: 50%;
}
nav .noidung {
  margin-left: auto;
}
nav a:hover {
  background-color: #00796b;
  border-radius: 5px;
}
.map-section {
  margin: 60px 0;
  text-align: center;
}

.map-section h1 {
  color: #004d40;
  margin-bottom: 30px;
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}

.map-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #004d40;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.region {
  margin: 180px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.region h2 {
  color: #004d40;
  /* color: #004d40; */
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 15px;
}

.region h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: #004d40;
}
.place-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.place-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.place-info {
  padding: 15px;
}
.place-info h3 {
  text-align: center;
}
footer {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
